body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div{
  position: relative;
}

#p2{
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 1;
}
#ta1{
  z-index: 1;
  position: absolute;
  height: 50vh;
  width: 40%;
  top: 20px;
}


#ta2{
  
  position: absolute;
  height: 50vh;
  width: 40%;
  top: 20px;
  left: 50%;
}

button{
  position: absolute;
  top: 25vh;
  left: 44%;

}

#image1{
  position: absolute;
  opacity: .4;
  height: 30vh;
  top: 15vh;
  left: 10%;
  z-index: 2;
}

#image2{
  position: absolute;
  opacity: .4;
  height: 30vh;
  top: 15vh;
  left: 60%;
  z-index: 2;
}